services:
  mongo:
    image: mongo:7
    ports:
      - "27017:27017"

  server:
    build: ./server
    env_file:
      - ./server/.env
    depends_on:
      - mongo
    ports:
      - "4000:4000"

  client:
    build: ./client
    ports:
      - "3000:3000"
